<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Kompresiana</title>
</head>
<body>
    <!--untuk menampilkan logo-->
    <div class="header">
        <div class="header-box">
                <img src="../static/images/logo.png" class="logo">
        </div>
    </div>

    <!--untuk menerima input gambar dan persen kompresi, mengeluarkan runtime dan pixel difference-->
    <div class="input-output-container">

        <form method="post" enctype="multipart/form-data">

            <div class="input-box">
                <p><b>Input Your Image</b></p>
                <input type="file" class="input-file" name="file">
                <p>Image Compression Rate : <input type="text" class="input-text" name="rate"> %</p>
                <input type="submit" formaction="/compress">
            </div>

        </form>

        <div class="output-box">
            <p>Image pixel difference percentage: {{ pixel }} %</p>
            <p>Image compression time: {{ rtime }} second </p>
            <a href="{{ url_for('download') }}" class="download-button">Download</a>
        </div>

    </div>

    <!--container untuk menampilkan foto sebelum dan sesudah kompres-->
    <div class="image-container">
        <!-- untuk menampilkan foto sebelum kompres-->
        <div class="image-box">
            <img src="{{ url_for('static', filename = imagename) }}">
        </div>
        <!-- untuk menampilkan foto sebelum kompres-->
        <div class="image-box">
            <img src="{{ url_for('static', filename = imagefinal) }}">
        </div>
    </div>

</body>
</html>